body {
    font-family: 'Helvetica Neue', sans-serif ;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #8f78a8ae;
    color: #fff;
    padding: 20px;
  }

  header h1 {
    position: center;
    text-align: center;
  }
  
  main {
    padding: 20px;
    text-align: center;
  }
  
  main h2 {
    margin-top: 0;
    font-size: 28px;
    text-align: center;
  }
  
  form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
  
  form label {
    font-size: 18px;
    margin-bottom: 5px;
    text-align: left;
  }
  
  form input {
    font-size: 18px;
    padding: 5px;
    margin-bottom: 20px;
  }
  
  form button {
    font-size: 18px;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
  }
  
  footer {
    background-color: #8f78a8ae;
    color: #fff;
    padding: 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
  }
  
  